language: julia
julia:
  - 0.5
  - 0.6
  - nightly
notifications:
  email: false
os:
  - linux
  - osx
dist: trusty
sudo: false
addons:
  apt:
    packages:
    - xorg-dev
before_script:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start; fi
