language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
addons:
  apt:
    packages:
    - libxxf86vm-dev
before_install:
  - "mkdir ~/cmake"
  - "curl http://www.cmake.org/files/v3.2/cmake-3.2.2-Linux-x86_64.tar.gz | tar -xz --strip-components=1 -C ~/cmake"
  - "export PATH=${HOME}/cmake/bin:${PATH}"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start" # X virtual framebuffer
